.summarys > div{
    color: rgba(0, 0, 0, 0.54);
}
.summarys > div:hover{
    background: #f5f5f5;
}
.summarys > :global(div.active):nth-child(1) {
    color: #fff;
  background: #4285f4;
}
.summarys > :global(div.active):nth-child(2) {
    color: #fff;
  background: #5e35b1;
}
.summarys > :global(div.active):nth-child(3) {
    color: #fff;
  background: #00897b;
}
.summarys > :global(div.active):nth-child(4) {
    color: #fff;
  background: #e8710a;
}
.summarys > :global(div.active):nth-child(1):hover{
    background: #5e97f6;
}
.summarys > :global(div.active):nth-child(2):hover{
    background: #7e57c2;
}
.summarys > :global(div.active):nth-child(3):hover{
    background: #26a69a;
}
.summarys > :global(div.active):nth-child(4):hover{
    background: #fa903e;
}